pandas==2.3.3
streamlit==1.54.0
notebook==7.5.3
opencv-python-headless==4.13.0.92
easyocr==1.7.2
numpy==2.4.3
networkx==3.6.1
matplotlib==3.10.8
natasha==1.6.0
setuptools==82.0.1
torch==2.10.0
torchvision==0.25.0
pillow==12.1.1
scipy==1.17.1
scikit-image==0.26.0
python-bidi==0.6.7
altair==6.0.0
jsonschema==4.26.0
referencing==0.37.0
rpds-py==0.30.0
pyarrow==23.0.0
